
/test files/re pics/haxe/
/test files/backups/

/fontatlas-javascript/.vscode/*.log
/fontatlas-javascript/output/

/luascript-javascript/.vscode/*.log
/luascript-javascript/output/

/luaworkspace/build/
/luaworkspace/node_modules/
/luaworkspace/package-lock.json

/sndbridge/.vscode/*.log
/sndbridge/output/

/expansions/
!/expansions/funkin/
!/expansions/example-expansion/

Thumbs.db

/work-in-progress/
