
/test files/re pics/haxe/
/test files/backups/

/fontatlas-javascript/.vscode/*.log
/fontatlas-javascript/output/

/luascript-javascript/.vscode/*.log
/luascript-javascript/output/

/luaworkspace/build/
/luaworkspace/node_modules/
/luaworkspace/package-lock.json

/sndbridge/.vscode/*.log
/sndbridge/output/

/expansions/
!/expansions/funkin/
!/expansions/example-expansion/

/src-dreamcast/.vscode/*.log
/src-dreamcast/output/cd_root/*
/src-dreamcast/output/*
!/src-dreamcast/output/cd_root/
!/src-dreamcast/output/cd_root/assets

Thumbs.db

/work-in-progress/
