
/test files/re pics/haxe/
/test files/backups/

/fontatlas/.vscode/*.log
/fontatlas/output/

/luascript-js/.vscode/*.log
/luascript-js/output/

/luaworkspace/build/
/luaworkspace/node_modules/
/luaworkspace/package-lock.json

/sndbridge/.vscode/*.log
/sndbridge/output/

/expansions/
!/expansions/funkin/
!/expansions/example-expansion/

Thumbs.db

/work-in-progress/
