Language: Cpp
BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 4
TabWidth: 4
BreakBeforeBraces: Attach
IndentCaseLabels: true
IndentCaseBlocks: true
ColumnLimit: 0
AccessModifierOffset: -4
AllowShortIfStatementsOnASingleLine: WithoutElse
PointerAlignment: Left
MaxEmptyLinesToKeep: 10
AlignAfterOpenBracket: BlockIndent
AllowShortLoopsOnASingleLine: true
