1 VERSIONINFO
FILEVERSION     1,4,7,0
PRODUCTVERSION  1,4,7,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904b0"
    BEGIN
      VALUE "CompanyName", "kapodamy"
      VALUE "FileDescription", "KDMY-Engine sound streaming"
      VALUE "FileVersion", "1.4.7"
      VALUE "InternalName", "sndthread"
      VALUE "OriginalFilename", "kdy_AICA.dll"
      VALUE "ProductName", "KDMY-Engine AICA backend using PortAudio"
      VALUE "ProductVersion", "1.4.7"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x080A, 1252
  END
END